.main {
  width: 100%;
  background-color: var(--bg-main) ;
}

.main__container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.main__container img {
  width: 100%;
  max-width: 600px;
}

.main__text-container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
} 

.main__text-container h1 {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 2.2rem;
}

.main__text-container h1,
.main__text-container p {
  text-align: center;
  color: var(--white);
}

.main__text-container p {
  font-size: 1.8rem;
  line-height: 140%;
  opacity: 0.6;
}

.btn {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
}